/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/docs/api/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
Gemfile.lock

# Serena MCP - ignore all except project.yml
/.serena/*
!/.serena/project.yml
